.unlogged-header {
    display: flex;
    margin: 1.5rem 2rem 0 2rem;
    gap: 80%
}

.user-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 4rem;
}

.user-name {
    margin-left: 0.75rem;
    color: #2F2E41;
    font-size: 1rem;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}