<div class="initial-section">
    <div class="initial-text">
        <div class="initial-title">SUBSCRIPTION CLOTHING SERVICE</div>
        <div class="initial-subtitle">Bring your personal stylist to your doorstep and make fashion effortless and enjoyable.</div>
        <button class="get-started-button" mat-flat-button color="primary" (click)="goToSignUp()">Get started</button>
    </div>
    <div class="initial-image">
        <img src="../../../assets/images/initial-image/initial-image.svg" alt="initial-image">
    </div>
</div>

