.thank-you-section {
    padding-top: 7rem;
    text-align: center;
}

h1 {
    padding-top: 1.5rem;
    color: #673AB7;
    font-size: 5rem;
    font-weight: 700;
    font-family: Nunito;
}

p {
    padding-top: 4rem;
    color: #2F2E41;
    font-size: 1.3rem;
    font-family: 'Inter', sans-serif;
}
