<div class="thank-you-section">
    <img src="../../../assets/logo/logo.svg" alt="logo">
    <h1>Thank you, Matheus!</h1>
    <p>Your order was registered successfully.</p>

    <div class="copyright">
        <div class="contact">
            <div class="contact-icon">
                <img src="../../../assets/icons/instagram.svg" alt="instagram">
            </div>
            <div class="contact-icon">
                <img src="../../../assets/icons/phone.svg" alt="phone">
            </div>
        </div>
        © 2023 Kramer Clothing. All rights reserved.
    </div>
</div>
