<div class="sign-up-section">
    <mat-card class="sign-up-card">
            <mat-card-title>
                Sign up
            </mat-card-title>
        <mat-card-content>
            <form>

                <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                  </mat-form-field>

                <div class="sign-in-text">
                    Already have an account? <a routerLink="/sign-in" class="purple">Sign in</a>
                </div>  
            </form>
        </mat-card-content>
        <mat-card-actions>
            <div class="sign-up-btn">
                <button mat-raised-button color="primary">Sign up</button>
            </div>
        </mat-card-actions>
    </mat-card>
</div>
