.sign-up-section {
    width: 100%;
    height: calc(100% - 8.5rem);
    padding-top: 8.5rem;
    background-color: #E3E3E3;
}

.sign-up-card {
    margin: auto;
    width: 30%;
    height: 30rem;
    border-radius: 7px;
    box-shadow: 0 3.5px 3.5px 0 rgba(0, 0, 0, 0.25);
    text-align: center;
}

mat-card-title {
    margin-bottom: 2rem;
    padding-top: 2.5rem;
    color: #2F2E41;
    font-family: Nunito;
    font-size: 1.7rem;
    font-weight: 400;
}

mat-form-field {
    width: 70%;
    color: #A2A1B6;
    border-color: red;
}

.sign-in-text {
    color: #2F2E41;
    font-family: Nunito;
    font-size: 0.875rem;
    font-weight: 400;
}

.sign-in-text .purple {
    color: #673AB7;
    font-weight: 600;
    text-decoration: none;
}

.sign-in-text .purple:hover {
    text-decoration: underline;
    cursor: pointer;
}

.sign-up-btn {
    margin: 1rem auto;
}

.sign-up-btn button {
    width: 8rem;
    height: 3rem;
    border-radius: 7px;
    background-color: #673AB7;
    color: #FFF;
    font-family: Nunito;
    font-size: 1rem;
    font-weight: 600;
}
