.header {
    display: flex;
    margin: 1.5rem 2rem 0 2rem;
    gap: 80%
}

.buttons-section button {
    margin: 0 0.25rem 0 0.25rem;
    width: 5.75rem;
    height: 2.2rem;
    border: 2px solid #673AB7;
    border-radius: 7px;
    font-family: Nunito;
    letter-spacing: normal;
}

.back-button {
    color: #673AB7 !important;
    font-weight: 700;
}

.continue-button {
    opacity: 0.5;
    pointer-events: none;
    font-weight: 600;

    &.enabled {
        opacity: 1;
        pointer-events: all;
    }
}


.clothing-selection {
    text-align: center;
}

h1 {
    margin-top: 2rem;
    color: #673AB7;
    font-family: Nunito;
    font-weight: 700;
}

p {
    margin: 0;
    font-family: Nunito;
}

.purple {
    color: #673AB7;
    font-weight: 700;
}

.clothes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 70%;
    margin: auto;

}

.clothing-card {
    width: 15rem;
    height: 17.5rem;
    margin-top: 4rem;
    border: none;

    &.selected {
        border: 5px solid #673AB7;
        background-color: #673AB7;
        color: #FFFFFF;
        font-weight: 700;

        .clothing-image {
            opacity: 0.5;
        }
    }
}

.clothing-name {
    margin: 0.5rem 0;
}
